BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 79
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    SplitEmptyFunction: false
    SplitEmptyRecord: false
PointerAlignment: Right
BreakBeforeTernaryOperators: false
BreakInheritanceList: AfterColon
FixNamespaceComments: false

AllowAllConstructorInitializersOnNextLine: false
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
BinPackParameters: false
BinPackArguments: true

SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: true

SortIncludes: false
SortUsingDeclarations: false

PenaltyBreakAssignment: 1
PenaltyBreakBeforeFirstCallParameter: 2
