[submodule "external/v4r"]
	path = external/v4r
	url = git@github.com:shacklettbp/v4r.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/simdjson"]
	path = external/simdjson
	url = https://github.com/simdjson/simdjson.git
